#Exercise 1: Explore Ames housing dataset with descriptive statistics
In this exercise, we will learn how to explore a dataset and understand how it is structured. To do so, we will implement our own describe functions for numerical and categorical variables.
The dataset used for this exercise is the Ames Housing dataset compiled by Dean De Cock: http://www.amstat.org/publications/jse/v19n3/decock.pdf

1. Open on a new Colab notebook and import the pandas package

In [0]:
import pandas as pd

2. Assign the link to the AMES dataset to a variable called 'file_url':

In [0]:
file_url = 'https://raw.githubusercontent.com/TrainingByPackt/The-Data-Science-Workshop/master/Chapter10/dataset/ames_iowa_housing.csv'

3. Using the read_csv method from the package pandas, load the dataset into a new variable called 'df':

In [0]:
df = pd.read_csv(file_url)

4. Print the number of rows and columns of the dataframe using the attribute **shape** from **pandas** package:

Expected Output:

![Figure 20 - Number of rows and columns from the housing dataset](https://docs.google.com/uc?export=download&id=1r5wqla9_Sr4dk4KAd7wvqYo0rHexRTNT)

In [4]:
df.shape

(1460, 81)

We can see this dataset contains 1460 rows and 81 different columns.

5. Print the names of the variables contained in this dataframe using the attribute **columns** from **pandas** package:

Expected Output:

![Figure 21 - List of columns in the housing dataset](https://docs.google.com/uc?export=download&id=1ISIHTmrLdSKHr6ZrCU0upxi149VLH6Vn)

In [5]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

We can infer the type of information contained in some of the variables by looking at their names such as LotArea (property size), YearBuilt (year of construction) or SalePrice (property sale price).

6. Print out the type of each variable contained in this dataframe using the attribute **dtypes** from **pandas** package:

Expected Output:

![Figure 22 - List of columns and their type from the housing dataset](https://docs.google.com/uc?export=download&id=1pL7D4IAk43QAL3ol2fsB7BzjQB81Yv33)

In [6]:
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
Alley             object
LotShape          object
LandContour       object
Utilities         object
LotConfig         object
LandSlope         object
Neighborhood      object
Condition1        object
Condition2        object
BldgType          object
HouseStyle        object
OverallQual        int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
RoofStyle         object
RoofMatl          object
Exterior1st       object
Exterior2nd       object
MasVnrType        object
MasVnrArea       float64
ExterQual         object
ExterCond         object
Foundation        object
                  ...
BedroomAbvGr       int64
KitchenAbvGr       int64
KitchenQual       object
TotRmsAbvGrd       int64
Functional        object
Fireplaces         int64
FireplaceQu       object
GarageType        object
GarageYrBlt      float64
GarageFinish      object
GarageCars         int64
GarageArea         int64
GarageQual        object
GarageCond        object
PavedDrive        object
WoodDeckSF         int64
OpenPorchSF        int64
EnclosedPorch      int64
3SsnPorch          int64
ScreenPorch        int64
PoolArea           int64
PoolQC            object
Fence             object
MiscFeature       object
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

We can see the variables are either numerical or text type. There is no date column in this dataset.

7. Display the first top rows of the dataframe using the method **head()** from **pandas**:

Expected Output:

![Figure 23 - First 5 rows of the housing dataset](https://docs.google.com/uc?export=download&id=1Oddvg6tvyy_NpwYvDy4R0JHROXtn5cdw)

In [7]:
df.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

8. Display the last bottom rows of the dataframe using the method **tail()** from **pandas**:

Expected Output:

![Figure 24 - Last 5 rows of the housing dataset](https://docs.google.com/uc?export=download&id=1qmil5wf0TCUTHg15VIRxv8KnR7uxHEJg)

In [8]:
df.tail()

        Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
1455  1456          60       RL  ...        WD         Normal    175000
1456  1457          20       RL  ...        WD         Normal    210000
1457  1458          70       RL  ...        WD         Normal    266500
1458  1459          20       RL  ...        WD         Normal    142125
1459  1460          20       RL  ...        WD         Normal    147500

[5 rows x 81 columns]

It seems the column â€˜Alleyâ€™ has a lot of missing values. The columns â€˜Streetâ€™ and â€˜Utilitiesâ€™ seem to have only one value.

9. Display 5 random sampled rows of the dataframe using the method **sample()** from **pandas** and pass it a 'random_state' of 8:

Expected Output:

![Figure 25 - 5 random sampled rows of the housing dataset](https://docs.google.com/uc?export=download&id=1frsCDrsEEfWE-dkNUnHQdFm9iACWi1o0)

In [9]:
df.sample(n=5, random_state=8)

        Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
1260  1261          60       RL  ...        WD         Normal    181000
274    275          20       RL  ...        WD         Normal    124500
51      52          50       RM  ...        WD         Normal    114500
117    118          20       RL  ...       New        Partial    155000
789    790          60       RL  ...        WD         Normal    187500

[5 rows x 81 columns]

With this random samples, we can see that the column â€˜LotFrontageâ€™ also has some missing values.

10. Create a new dataframe called 'num_df' with only the columns that are of numerical types using the method select_dtypes from pandas packages and pass in the value 'number' to the parameter 'include:

In [0]:
num_df = df.select_dtypes(include='number')

11. Using the attribute **columns** from pandas, extract the list of columns of this dataframe 'num_df' and assign it to a new variable called 'num_cols' and print its content:

Expected Output:

![Figure 26 - List of numerical columns](https://docs.google.com/uc?export=download&id=1Xe6dR0fT6zT6-WIddLPvOOu2QU8OjMfX)

In [11]:
num_cols = num_df.columns
num_cols

Index(['Id', 'MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd',
       'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF',
       'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea',
       'MiscVal', 'MoSold', 'YrSold', 'SalePrice'],
      dtype='object')

12. Perform the same steps as 7 and 8 but this time extract the list of columns that are of type 'object' and save it into a new variable called 'obj_cols':

Expected Output:

![Figure 27 - List of categorical variables](https://docs.google.com/uc?export=download&id=1n5gkiNhA0bPeZFUTdrXEssgqJtqwuBW0)

In [12]:
obj_cols = df.select_dtypes(include='object').columns
obj_cols

Index(['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities',
       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual',
       'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature',
       'SaleType', 'SaleCondition'],
      dtype='object')

13. Create a function called 'describe_object' that takes a **pandas** dataframe and a column name as input parameters. Then inside the function, print out the name of the given column, its number of unique values using the method **nunique()** and the list of values and their occurence using the method **value_counts()**:

In [0]:
def describe_object(df, col_name):
  print(f"\nCOLUMN: {col_name}")
  print(f"{df[col_name].nunique()} different values")
  print(f"List of values:")
  print(df[col_name].value_counts(dropna=False, normalize=True))

14. Test this function by providing the 'df' dataframe and the column 'MSZoning':

Expected Output:

![Figure 28 - Display of the created function for the column â€˜MSZoningâ€™](https://docs.google.com/uc?export=download&id=1PE8Ive1mpHZeeC0GN5wDrjxvkaufT5Pv)

In [14]:
describe_object(df, 'MSZoning')

COLUMN: MSZoning
5 different values
List of values:
RL         0.788356
RM         0.149315
FV         0.044521
RH         0.010959
C (all)    0.006849
Name: MSZoning, dtype: float64

For the column â€˜MSZoningâ€™, the value â€˜RLâ€™ represents almost 79% of the values while â€˜C (all) is only present less than 1% of the rows.

15. Create a for loop that will call the created function for every element from the list 'obj_cols':

Expected Output:

![Figure 29 - Display of the created function for the first columns contained in â€˜obj_colsâ€™](https://docs.google.com/uc?export=download&id=1cou8u_aD4Z8ec1EqDKRPFXJGGyEQUzh_)

In [15]:
for col_name in obj_cols:
  describe_object(df, col_name)

COLUMN: MSZoning
5 different values
List of values:
RL         0.788356
RM         0.149315
FV         0.044521
RH         0.010959
C (all)    0.006849
Name: MSZoning, dtype: float64

COLUMN: Street
2 different values
List of values:
Pave    0.99589
Grvl    0.00411
Name: Street, dtype: float64

COLUMN: Alley
2 different values
List of values:
NaN     0.937671
Grvl    0.034247
Pave    0.028082
Name: Alley, dtype: float64

COLUMN: LotShape
4 different values
List of values:
Reg    0.633562
IR1    0.331507
IR2    0.028082
IR3    0.006849
Name: LotShape, dtype: float64

COLUMN: LandContour
4 different values
List of values:
Lvl    0.897945
Bnk    0.043151
HLS    0.034247
Low    0.024658
Name: LandContour, dtype: float64

COLUMN: Utilities
2 different values
List of values:
AllPub    0.999315
NoSeWa    0.000685
Name: Utilities, dtype: float64

COLUMN: LotConfig
5 different values
List of values:
Inside     0.720548
Corner     0.180137
CulDSac    0.064384
FR2        0.032192
FR3        0.002740
Name: LotConfig, dtype: float64

COLUMN: LandSlope
3 different values
List of values:
Gtl    0.946575
Mod    0.044521
Sev    0.008904
Name: LandSlope, dtype: float64

COLUMN: Neighborhood
25 different values
List of values:
NAmes      0.154110
CollgCr    0.102740
OldTown    0.077397
Edwards    0.068493
Somerst    0.058904
Gilbert    0.054110
NridgHt    0.052740
Sawyer     0.050685
NWAmes     0.050000
SawyerW    0.040411
BrkSide    0.039726
Crawfor    0.034932
Mitchel    0.033562
NoRidge    0.028082
Timber     0.026027
IDOTRR     0.025342
ClearCr    0.019178
SWISU      0.017123
StoneBr    0.017123
Blmngtn    0.011644
MeadowV    0.011644
BrDale     0.010959
Veenker    0.007534
NPkVill    0.006164
Blueste    0.001370
Name: Neighborhood, dtype: float64

COLUMN: Condition1
9 different values
List of values:
Norm      0.863014
Feedr     0.055479
Artery    0.032877
RRAn      0.017808
PosN      0.013014
RRAe      0.007534
PosA      0.005479
RRNn      0.003425
RRNe      0.001370
Name: Condition1, dtype: float64

COLUMN: Condition2
8 different values
List of values:
Norm      0.989726
Feedr     0.004110
RRNn      0.001370
PosN      0.001370
Artery    0.001370
RRAn      0.000685
PosA      0.000685
RRAe      0.000685
Name: Condition2, dtype: float64

COLUMN: BldgType
5 different values
List of values:
1Fam      0.835616
TwnhsE    0.078082
Duplex    0.035616
Twnhs     0.029452
2fmCon    0.021233
Name: BldgType, dtype: float64

COLUMN: HouseStyle
8 different values
List of values:
1Story    0.497260
2Story    0.304795
1.5Fin    0.105479
SLvl      0.044521
SFoyer    0.025342
1.5Unf    0.009589
2.5Unf    0.007534
2.5Fin    0.005479
Name: HouseStyle, dtype: float64

COLUMN: RoofStyle
6 different values
List of values:
Gable      0.781507
Hip        0.195890
Flat       0.008904
Gambrel    0.007534
Mansard    0.004795
Shed       0.001370
Name: RoofStyle, dtype: float64

COLUMN: RoofMatl
8 different values
List of values:
CompShg    0.982192
Tar&Grv    0.007534
WdShngl    0.004110
WdShake    0.003425
Roll       0.000685
ClyTile    0.000685
Membran    0.000685
Metal      0.000685
Name: RoofMatl, dtype: float64

COLUMN: Exterior1st
15 different values
List of values:
VinylSd    0.352740
HdBoard    0.152055
MetalSd    0.150685
Wd Sdng    0.141096
Plywood    0.073973
CemntBd    0.041781
BrkFace    0.034247
WdShing    0.017808
Stucco     0.017123
AsbShng    0.013699
Stone      0.001370
BrkComm    0.001370
AsphShn    0.000685
ImStucc    0.000685
CBlock     0.000685
Name: Exterior1st, dtype: float64

COLUMN: Exterior2nd
16 different values
List of values:
VinylSd    0.345205
MetalSd    0.146575
HdBoard    0.141781
Wd Sdng    0.134932
Plywood    0.097260
CmentBd    0.041096
Wd Shng    0.026027
Stucco     0.017808
BrkFace    0.017123
AsbShng    0.013699
ImStucc    0.006849
Brk Cmn    0.004795
Stone      0.003425
AsphShn    0.002055
Other      0.000685
CBlock     0.000685
Name: Exterior2nd, dtype: float64

COLUMN: MasVnrType
4 different values
List of values:
None       0.591781
BrkFace    0.304795
Stone      0.087671
BrkCmn     0.010274
NaN        0.005479
Name: MasVnrType, dtype: float64

COLUMN: ExterQual
4 different values
List of values:
TA    0.620548
Gd    0.334247
Ex    0.035616
Fa    0.009589
Name: ExterQual, dtype: float64

COLUMN: ExterCond
5 different values
List of values:
TA    0.878082
Gd    0.100000
Fa    0.019178
Ex    0.002055
Po    0.000685
Name: ExterCond, dtype: float64

COLUMN: Foundation
6 different values
List of values:
PConc     0.443151
CBlock    0.434247
BrkTil    0.100000
Slab      0.016438
Stone     0.004110
Wood      0.002055
Name: Foundation, dtype: float64

COLUMN: BsmtQual
4 different values
List of values:
TA     0.444521
Gd     0.423288
Ex     0.082877
NaN    0.025342
Fa     0.023973
Name: BsmtQual, dtype: float64

COLUMN: BsmtCond
4 different values
List of values:
TA     0.897945
Gd     0.044521
Fa     0.030822
NaN    0.025342
Po     0.001370
Name: BsmtCond, dtype: float64

COLUMN: BsmtExposure
4 different values
List of values:
No     0.652740
Av     0.151370
Gd     0.091781
Mn     0.078082
NaN    0.026027
Name: BsmtExposure, dtype: float64

COLUMN: BsmtFinType1
6 different values
List of values:
Unf    0.294521
GLQ    0.286301
ALQ    0.150685
BLQ    0.101370
Rec    0.091096
LwQ    0.050685
NaN    0.025342
Name: BsmtFinType1, dtype: float64

COLUMN: BsmtFinType2
6 different values
List of values:
Unf    0.860274
Rec    0.036986
LwQ    0.031507
NaN    0.026027
BLQ    0.022603
ALQ    0.013014
GLQ    0.009589
Name: BsmtFinType2, dtype: float64

COLUMN: Heating
6 different values
List of values:
GasA     0.978082
GasW     0.012329
Grav     0.004795
Wall     0.002740
OthW     0.001370
Floor    0.000685
Name: Heating, dtype: float64

COLUMN: HeatingQC
5 different values
List of values:
Ex    0.507534
TA    0.293151
Gd    0.165068
Fa    0.033562
Po    0.000685
Name: HeatingQC, dtype: float64

COLUMN: CentralAir
2 different values
List of values:
Y    0.934932
N    0.065068
Name: CentralAir, dtype: float64

COLUMN: Electrical
5 different values
List of values:
SBrkr    0.913699
FuseA    0.064384
FuseF    0.018493
FuseP    0.002055
Mix      0.000685
NaN      0.000685
Name: Electrical, dtype: float64

COLUMN: KitchenQual
4 different values
List of values:
TA    0.503425
Gd    0.401370
Ex    0.068493
Fa    0.026712
Name: KitchenQual, dtype: float64

COLUMN: Functional
7 different values
List of values:
Typ     0.931507
Min2    0.023288
Min1    0.021233
Mod     0.010274
Maj1    0.009589
Maj2    0.003425
Sev     0.000685
Name: Functional, dtype: float64

COLUMN: FireplaceQu
5 different values
List of values:
NaN    0.472603
Gd     0.260274
TA     0.214384
Fa     0.022603
Ex     0.016438
Po     0.013699
Name: FireplaceQu, dtype: float64

COLUMN: GarageType
6 different values
List of values:
Attchd     0.595890
Detchd     0.265068
BuiltIn    0.060274
NaN        0.055479
Basment    0.013014
CarPort    0.006164
2Types     0.004110
Name: GarageType, dtype: float64

COLUMN: GarageFinish
3 different values
List of values:
Unf    0.414384
RFn    0.289041
Fin    0.241096
NaN    0.055479
Name: GarageFinish, dtype: float64

COLUMN: GarageQual
5 different values
List of values:
TA     0.897945
NaN    0.055479
Fa     0.032877
Gd     0.009589
Po     0.002055
Ex     0.002055
Name: GarageQual, dtype: float64

COLUMN: GarageCond
5 different values
List of values:
TA     0.908219
NaN    0.055479
Fa     0.023973
Gd     0.006164
Po     0.004795
Ex     0.001370
Name: GarageCond, dtype: float64

COLUMN: PavedDrive
3 different values
List of values:
Y    0.917808
N    0.061644
P    0.020548
Name: PavedDrive, dtype: float64

COLUMN: PoolQC
3 different values
List of values:
NaN    0.995205
Gd     0.002055
Fa     0.001370
Ex     0.001370
Name: PoolQC, dtype: float64

COLUMN: Fence
4 different values
List of values:
NaN      0.807534
MnPrv    0.107534
GdPrv    0.040411
GdWo     0.036986
MnWw     0.007534
Name: Fence, dtype: float64

COLUMN: MiscFeature
4 different values
List of values:
NaN     0.963014
Shed    0.033562
Othr    0.001370
Gar2    0.001370
TenC    0.000685
Name: MiscFeature, dtype: float64

COLUMN: SaleType
9 different values
List of values:
WD       0.867808
New      0.083562
COD      0.029452
ConLD    0.006164
ConLI    0.003425
ConLw    0.003425
CWD      0.002740
Oth      0.002055
Con      0.001370
Name: SaleType, dtype: float64

COLUMN: SaleCondition
6 different values
List of values:
Normal     0.820548
Partial    0.085616
Abnorml    0.069178
Family     0.013699
Alloca     0.008219
AdjLand    0.002740
Name: SaleCondition, dtype: float64

We can confirm that the column â€˜Streetâ€™ is almost constant as 99.6% of the rows contains the same value: â€˜Paveâ€™. For the column â€˜Alleyâ€™, almost 94% of the rows have missing values.

16. Create a function called 'describe_numeric' that takes a **pandas** dataframe and a column name as input parameters. Then inside the function, print out the name of the given column, its minimum value using **min()**, maximum value using **max()**, its average value using **mean()**, standard deviation using **std()**, and median using **median()**:

In [0]:
def describe_numeric(df, col_name):
  print(f"\nCOLUMN: {col_name}")
  print(f"Minimum: {df[col_name].min()}")
  print(f"Maximum: {df[col_name].max()}")
  print(f"Average: {df[col_name].mean()}")
  print(f"Standard Deviation: {df[col_name].std()}")
  print(f"Median: {df[col_name].median()}")

17. Test this function by providing the 'df' dataframe and the column 'SalePrice':

Expected Output:

![Figure 30 - Display of the created function for the column â€˜SalePriceâ€™](https://docs.google.com/uc?export=download&id=1V0AZA0zxOcrbS2HLYFPhE75kBzy7CwPx)

In [17]:
describe_numeric(df, 'SalePrice')

COLUMN: SalePrice
Minimum: 34900
Maximum: 755000
Average: 180921.19589041095
Standard Deviation: 79442.50288288663
Median: 163000.0

The sale price ranges from 34,900 to 755,000 with an average of 180,921. The median is slightly lower than the average which tells us there are some outliers with high sales prices.

18. Create a for loop that will call the created function for every element from the list 'obj_cols':

Expected Output:

![Figure 31 - Display of the created function for the first columns contained in â€˜num_colsâ€™](https://docs.google.com/uc?export=download&id=1N9LXQhRwfC6HlILm1kJBMa3xwax_Sydp)

In [18]:
for col_name in num_cols:
  describe_numeric(df, col_name)

COLUMN: Id
Minimum: 1
Maximum: 1460
Average: 730.5
Standard Deviation: 421.6100093688479
Median: 730.5

COLUMN: MSSubClass
Minimum: 20
Maximum: 190
Average: 56.897260273972606
Standard Deviation: 42.30057099381035
Median: 50.0

COLUMN: LotFrontage
Minimum: 21.0
Maximum: 313.0
Average: 70.04995836802665
Standard Deviation: 24.284751774483183
Median: 69.0

COLUMN: LotArea
Minimum: 1300
Maximum: 215245
Average: 10516.828082191782
Standard Deviation: 9981.264932379147
Median: 9478.5

COLUMN: OverallQual
Minimum: 1
Maximum: 10
Average: 6.0993150684931505
Standard Deviation: 1.3829965467415923
Median: 6.0

COLUMN: OverallCond
Minimum: 1
Maximum: 9
Average: 5.575342465753424
Standard Deviation: 1.1127993367127367
Median: 5.0

COLUMN: YearBuilt
Minimum: 1872
Maximum: 2010
Average: 1971.267808219178
Standard Deviation: 30.202904042525265
Median: 1973.0

COLUMN: YearRemodAdd
Minimum: 1950
Maximum: 2010
Average: 1984.8657534246574
Standard Deviation: 20.645406807709396
Median: 1994.0

COLUMN: MasVnrArea
Minimum: 0.0
Maximum: 1600.0
Average: 103.68526170798899
Standard Deviation: 181.06620658721818
Median: 0.0

COLUMN: BsmtFinSF1
Minimum: 0
Maximum: 5644
Average: 443.6397260273973
Standard Deviation: 456.09809084092456
Median: 383.5

COLUMN: BsmtFinSF2
Minimum: 0
Maximum: 1474
Average: 46.54931506849315
Standard Deviation: 161.31927280654057
Median: 0.0

COLUMN: BsmtUnfSF
Minimum: 0
Maximum: 2336
Average: 567.2404109589041
Standard Deviation: 441.8669552924342
Median: 477.5

COLUMN: TotalBsmtSF
Minimum: 0
Maximum: 6110
Average: 1057.4294520547944
Standard Deviation: 438.7053244594705
Median: 991.5

COLUMN: 1stFlrSF
Minimum: 334
Maximum: 4692
Average: 1162.626712328767
Standard Deviation: 386.5877380410738
Median: 1087.0

COLUMN: 2ndFlrSF
Minimum: 0
Maximum: 2065
Average: 346.99246575342465
Standard Deviation: 436.5284358862591
Median: 0.0

COLUMN: LowQualFinSF
Minimum: 0
Maximum: 572
Average: 5.844520547945206
Standard Deviation: 48.623081433519125
Median: 0.0

COLUMN: GrLivArea
Minimum: 334
Maximum: 5642
Average: 1515.463698630137
Standard Deviation: 525.4803834232027
Median: 1464.0

COLUMN: BsmtFullBath
Minimum: 0
Maximum: 3
Average: 0.42534246575342466
Standard Deviation: 0.5189106060897992
Median: 0.0

COLUMN: BsmtHalfBath
Minimum: 0
Maximum: 2
Average: 0.057534246575342465
Standard Deviation: 0.23875264627920764
Median: 0.0

COLUMN: FullBath
Minimum: 0
Maximum: 3
Average: 1.5650684931506849
Standard Deviation: 0.5509158012954318
Median: 2.0

COLUMN: HalfBath
Minimum: 0
Maximum: 2
Average: 0.38287671232876713
Standard Deviation: 0.5028853810928973
Median: 0.0

COLUMN: BedroomAbvGr
Minimum: 0
Maximum: 8
Average: 2.8664383561643834
Standard Deviation: 0.8157780441442212
Median: 3.0

COLUMN: KitchenAbvGr
Minimum: 0
Maximum: 3
Average: 1.0465753424657533
Standard Deviation: 0.22033819838402977
Median: 1.0

COLUMN: TotRmsAbvGrd
Minimum: 2
Maximum: 14
Average: 6.517808219178082
Standard Deviation: 1.625393290584064
Median: 6.0

COLUMN: Fireplaces
Minimum: 0
Maximum: 3
Average: 0.613013698630137
Standard Deviation: 0.6446663863122344
Median: 1.0

COLUMN: GarageYrBlt
Minimum: 1900.0
Maximum: 2010.0
Average: 1978.5061638868744
Standard Deviation: 24.689724768590214
Median: 1980.0

COLUMN: GarageCars
Minimum: 0
Maximum: 4
Average: 1.7671232876712328
Standard Deviation: 0.7473150101111116
Median: 2.0

COLUMN: GarageArea
Minimum: 0
Maximum: 1418
Average: 472.9801369863014
Standard Deviation: 213.80484145338076
Median: 480.0

COLUMN: WoodDeckSF
Minimum: 0
Maximum: 857
Average: 94.2445205479452
Standard Deviation: 125.33879435172359
Median: 0.0

COLUMN: OpenPorchSF
Minimum: 0
Maximum: 547
Average: 46.66027397260274
Standard Deviation: 66.25602767664974
Median: 25.0

COLUMN: EnclosedPorch
Minimum: 0
Maximum: 552
Average: 21.954109589041096
Standard Deviation: 61.11914860172879
Median: 0.0

COLUMN: 3SsnPorch
Minimum: 0
Maximum: 508
Average: 3.4095890410958902
Standard Deviation: 29.317330556782203
Median: 0.0

COLUMN: ScreenPorch
Minimum: 0
Maximum: 480
Average: 15.060958904109588
Standard Deviation: 55.757415281874486
Median: 0.0

COLUMN: PoolArea
Minimum: 0
Maximum: 738
Average: 2.758904109589041
Standard Deviation: 40.17730694453043
Median: 0.0

COLUMN: MiscVal
Minimum: 0
Maximum: 15500
Average: 43.489041095890414
Standard Deviation: 496.1230244579311
Median: 0.0

COLUMN: MoSold
Minimum: 1
Maximum: 12
Average: 6.321917808219178
Standard Deviation: 2.7036262083595197
Median: 6.0

COLUMN: YrSold
Minimum: 2006
Maximum: 2010
Average: 2007.8157534246575
Standard Deviation: 1.328095120552104
Median: 2008.0

COLUMN: SalePrice
Minimum: 34900
Maximum: 755000
Average: 180921.19589041095
Standard Deviation: 79442.50288288663
Median: 163000.0

The column â€˜Idâ€™ ranges from 1 to 1460 which is the exact value as the number of rows in this dataset so this column is definitely a unique identifier of the property sold. It seems the values from the â€˜MSSubClassâ€™ are all rounded. This may indicates the information contained in this column has either been clustered into groups of ten or may be a categorical variable.

Congratulations on completing this exercise! We saw how to explore a newly received dataset with just a few lines of code. This helped us to understand its structure, the type of information contained in each variable and also identified some potential data quality issues such as missing values or incorrect values.