#Exercise 10.01: Explore Ames Housing dataset
In this exercise, we will try out some more dataset exploration in order to have a good understanding of it by analysing its structure and look at some rows. 

The dataset we will be using in this exercise is the Ames Housing dataset and it can be found on our GitHub repository - https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter10/dataset/ames_iowa_housing.csv

Note:
The dataset used for this exercise is the Ames Housing dataset compiled by Dean De Cock: https://www.openintro.org/stat/data/?data=ames 
This dataset contains the list of residential home sales in the city of Ames, Iowa between 20016 and 2010.

More information about each variable can be found here:
http://jse.amstat.org/v19n3/decock/DataDocumentation.txt

1. Open on a new Colab notebook and import the pandas package

In [0]:
import pandas as pd

2. Assign the link to the AMES dataset to a variable called 'file_url':

In [0]:
file_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter10/dataset/ames_iowa_housing.csv'

3. Using the read_csv method from the package pandas, load the dataset into a new variable called 'df':

In [0]:
df = pd.read_csv(file_url)

4. Print the number of rows and columns of the dataframe using the attribute **shape** from **pandas** package:

Expected Output:

![Figure 20 - Number of rows and columns from the housing dataset](https://docs.google.com/uc?export=download&id=1r5wqla9_Sr4dk4KAd7wvqYo0rHexRTNT)

In [25]:
df.shape

(1460, 81)

We can see this dataset contains 1460 rows and 81 different columns.

5. Print the names of the variables contained in this dataframe using the attribute **columns** from **pandas** package:

Expected Output:

![Figure 21 - List of columns in the housing dataset](https://docs.google.com/uc?export=download&id=1ISIHTmrLdSKHr6ZrCU0upxi149VLH6Vn)

In [26]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

We can infer the type of information contained in some of the variables by looking at their names such as LotArea (property size), YearBuilt (year of construction) or SalePrice (property sale price).

6. Print out the type of each variable contained in this dataframe using the attribute **dtypes** from **pandas** package:

Expected Output:

![Figure 22 - List of columns and their type from the housing dataset](https://docs.google.com/uc?export=download&id=1pL7D4IAk43QAL3ol2fsB7BzjQB81Yv33)

In [27]:
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

We can see the variables are either numerical or text type. There is no date column in this dataset.

7. Display the first top rows of the dataframe using the method **head()** from **pandas**:

Expected Output:

![Figure 23 - First 5 rows of the housing dataset](https://docs.google.com/uc?export=download&id=1Oddvg6tvyy_NpwYvDy4R0JHROXtn5cdw)

In [28]:
df.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

8. Display the last bottom rows of the dataframe using the method **tail()** from **pandas**:

Expected Output:

![Figure 24 - Last 5 rows of the housing dataset](https://docs.google.com/uc?export=download&id=1qmil5wf0TCUTHg15VIRxv8KnR7uxHEJg)

In [29]:
df.tail()

        Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
1455  1456          60       RL  ...        WD         Normal    175000
1456  1457          20       RL  ...        WD         Normal    210000
1457  1458          70       RL  ...        WD         Normal    266500
1458  1459          20       RL  ...        WD         Normal    142125
1459  1460          20       RL  ...        WD         Normal    147500

[5 rows x 81 columns]

It seems the column â€˜Alleyâ€™ has a lot of missing values. The columns â€˜Streetâ€™ and â€˜Utilitiesâ€™ seem to have only one value.

9. Display 5 random sampled rows of the dataframe using the method **sample()** from **pandas** and pass it a 'random_state' of 8:

Expected Output:

![Figure 25 - 5 random sampled rows of the housing dataset](https://docs.google.com/uc?export=download&id=1frsCDrsEEfWE-dkNUnHQdFm9iACWi1o0)

In [30]:
df.sample(n=5, random_state=8)

        Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
1260  1261          60       RL  ...        WD         Normal    181000
274    275          20       RL  ...        WD         Normal    124500
51      52          50       RM  ...        WD         Normal    114500
117    118          20       RL  ...       New        Partial    155000
789    790          60       RL  ...        WD         Normal    187500

[5 rows x 81 columns]

With this random samples, we can see that the column â€˜LotFrontageâ€™ also has some missing values. We can also notice this dataset contains both numerical and text data (object type). We will analyse them more in details in exercises 10.02 and 10.03. Well Done! We learned quite a lot about this dataset in just a few lines of code such as the number of rows and columns, the data type of each variable and their information. We also identified some missing values issue for some of them.